.loading {
  @extend %full-stretch;
  @extend %flex-center;

  position: fixed;
  background-color: $yellow;
  text-align: center;
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  z-index: 999;

  &.closed {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    transition-duration: 0.75s;
  }
}

.loading__overlay {
  @extend %flex-center;

  flex: none;
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  background-color: $yellow;
  transform: scale(1);
  overflow: hidden;

  .closed & {
    transform: scale(0);
    transition-duration: 0.75s;
  }
}

.loading__box {
  font-size: rem(18);
  font-weight: $weight-700;
  color: $blue;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: rem(-24);
  margin-left: rem(-32);
  animation: fadeIn 2s infinite linear;
}

.loading__circle {
  width: 110px;
  height: 110px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: rem(-55) auto auto rem(-55);
  border: 3px solid;
  border-color: $blue transparent $blue transparent;
  border-radius: 100px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.45;
  }

  100% {
    opacity: 1;
  }
}
