.square-btn {
  display: inline-block;
  position: absolute;
  z-index: 1;

  .mix & {
    top: 0;
    right: -30px;

    @media (max-width: 1080px) {
      right: 0;
    }

    @include media("below-desktop") {
      right: 5vw;
    }
  }

  .engine & {
    bottom: 2%;
    right: 4%;

    @include media("below-desktop") {
      right: 6vw;
    }
  }
}

.square-btn__link {
  @extend %text--22;

  padding: 14px 18px;
  vertical-align: middle;
  background-color: #43cdd2;
  background-image: linear-gradient(
    90deg,
    #43cdd2 0%,
    #26c1d3 50%,
    #02b0d5 100%
  );
  color: $white;
  font-weight: $weight-500;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.1s;

  &:hover {
    .square-btn__triangle {
      transform: translateX(4px);
    }
  }

  .spec & {
    &:nth-of-type(2) {
      margin: 0 80px;

      @include media("below-desktop") {
        margin: 0 6vw;
      }
    }
  }

  @include media("below-desktop") {
    padding: 1.7vw 2vw;
    font-size: 3vw;
  }
}

.square-btn__triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid $white;
  transform: translateZ(0);
  transition: transform 0.1s ease-out;

  @include media("below-desktop") {
    border-top-width: 1vw;
    border-bottom-width: 1vw;
    border-left-width: 1.5vw;
  }
}
