.glide__slide {
  .carousel__img:nth-of-type(1) {
    display: block;

    @include media("below-desktop") {
      display: none;
    }
  }

  .carousel__img:nth-of-type(2) {
    display: none;
    width: 100%;

    @include media("below-desktop") {
      display: block;
    }
  }
}

.carousel {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
  }

  &::before {
    left: 0;
    background-color: $yellow;
  }

  &::after {
    right: 0;
    background-color: $blue;
  }

  .glide {
    z-index: 2;
  }

  // 改寫 GlideJS 設定
  .glide__arrow {
    top: 65%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;

    @include media("below-desktop") {
      top: 50%;
      width: 7.7vw;
      padding: 1vw;
    }

    @include media("below-mobile") {
      width: 50px;
      padding: 10px;
    }
  }

  .glide__arrow--left {
    left: 8px;

    @include media("below-desktop") {
      left: 0;
    }
  }

  .glide__arrow--right {
    right: 8px;

    @include media("below-desktop") {
      right: 0;
    }
  }
}
