.main-section {
  background-color: $white;
}

.main-section__container {
  @extend %margin-center;

  position: relative;
  width: 100%;
  height: 100%;
  max-width: $inner-wrapper-l;
  overflow: hidden;

  .header & {
    overflow: visible;
  }

  .mix & {
    overflow: visible;
    z-index: 2;

    @include media("below-desktop") {
      overflow: hidden;
    }
  }

  .feature & {
    background-color: $yellow;
  }

  .spec & {
    z-index: 1;
  }
}

.main-section__inner-container {
  @extend %margin-center;

  max-width: $inner-wrapper-m;
}

.main-section__content-wrapper {
  @extend %margin-center;

  max-width: $inner-wrapper-s;
  padding: 0 rem(20);

  &.absolute-full {
    @extend %full-stretch;

    position: absolute;
  }

  .seat &,
  .spec & {
    &>div {
      position: absolute;
    }
  }

  .feature & {
    position: relative;
    max-width: $inner-wrapper-m;
    margin-top: rem(95);
    padding: rem(18) rem(50) rem(30);
    background-color: $blue;

    @include media("below-desktop") {
      margin-top: 7.5vw;
      padding: 3.8vw 0 5.8vw;
    }
  }

  @include media("below-desktop") {
    padding: 0 4%;
  }
}

.main-section__content {
  padding: 0 rem(20);
}

.main-section__bg {
  @extend %margin-center;
}

.invisible {
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto 4%;
  overflow: hidden;
  text-indent: -10000%;
  white-space: nowrap;
}
