.designer {
  height: 935px;
  width: 100%;

  @include media("below-desktop") {
    height: 91.6vw;
  }
}

.designer__text {
  @extend %text--24;

  margin-top: 12%;
  color: $black;

  @include media("below-desktop") {
    margin-top: 9vw;
    font-size: 2.9vw;
  }
}

.designer__bg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 73.281%;

  @include media("below-desktop") {
    padding-top: 95.714%;
  }
}

.designer__bg-img {
  @extend %full-stretch;

  display: block;
  position: absolute;
  background-image: url("../images/designer_bg.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @include media("below-desktop") {
    background-image: url("../images/designer_bg_m.jpg");
    background-size: cover;
  }
}
