.engine {
  height: 865px;
  background-color: $yellow;

  @include media("below-desktop") {
    height: 94.3vw;
  }
}

.engine__color-block {
  @extend %full-stretch;

  position: absolute;
  width: 50%;
  background-color: $light-yellow;
}

.engine__info {
  display: inline-block;
  margin-top: 115px;
  margin-left: 40px;

  @include media("below-desktop") {
    margin-top: 11vw;
    margin-left: 0;
  }
}

.engine__title,
.engine__texts,
.engine__text {
  opacity: 0;
  transform: scale3d(1.2, 1.2, 1) rotate3d(-1, -3, 1, 60deg) translate3d(-50px, 150px, -100px);

  .appear & {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0) translate3d(0, 0, 0);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.engine__title {
  background-image: url("../images/engine_title.png");
  width: 452px;
  height: 57px;
  margin-left: 0;

  @include media("below-desktop") {
    width: 42vw;
    height: 6vw;
  }
}

.engine__texts {
  display: inline-block;
  padding-top: 3%;
  border-top: 1px solid $light-gray;

  .appear & {
    transition-delay: 0.1s;
  }
}

.engine__text {
  @extend %text--24;

  color: $dark-gray;

  .appear & {
    transition-delay: 0.3s;
  }

  @include media("below-desktop") {
    font-size: 2.9vw;
  }
}

.engine__machine {
  position: absolute;
  bottom: 9%;
  left: 36%;
  z-index: 1;
  opacity: 0;
  transform: translateY(30%);

  .appear & {
    opacity: 1;
    transform: translateY(0);
    transition: all 2s cubic-bezier(0.15, 0.46, 0.08, 0.95);
    transition-delay: 0.5s;
  }

  @include media("below-desktop") {
    bottom: 10vw;
    left: 27.5vw;
    width: 69.6vw;
    height: 50.5vw;
  }
}

.engine__heading {
  position: absolute;
  bottom: 10%;
  left: 6%;
  width: 884px;
  height: 269px;
  opacity: 0;

  .appear & {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.15, 0.46, 0.08, 0.95);
    transition-delay: 0.5s;
  }

  @include media("below-desktop") {
    bottom: 10vw;
    left: 0;
    width: 100vw;
    height: 28vw;
  }
}

.engine__heading-img {
  @extend %full-stretch;

  position: absolute;
  background-image: url("../images/engine_heading.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include media("below-desktop") {
    background-image: url(../images/engine_heading_m.png);
  }
}

.engine__btn {
  display: inline-block;
  position: absolute;
}
