.feature {
  position: relative;
  margin-bottom: rem(110);
  background-color: $yellow;
  z-index: 1;

  @include media("below-desktop") {
    margin-bottom: 7vw;
  }
}

.feature__saluto-top,
.feature__saluto-right,
.feature__slogan-top,
.feature__slogan-bottom {
  position: absolute;
  z-index: 1;
}

.feature__saluto-top,
.feature__slogan-top,
.feature__slogan-bottom {
  left: 50%;
  transform: translateX(-50%);

  img {
    margin: auto;
  }
}

.feature__saluto-top {
  top: 0;
  width: 1238px;

  @include media("below-desktop") {
    width: 122vw;
  }
}

.feature__saluto-right {
  bottom: -60px;
  right: 0;

  @include media("below-desktop") {
    bottom: 2vw;
    width: 14.5vw;
  }
}

.feature__slogan-top {
  top: 60px;
  left: 49.5%;
  width: 958px;

  @include media("below-desktop") {
    top: 6vw;
    width: 93.6vw;
  }
}

.feature__slogan-bottom {
  bottom: -28px;
  width: 815px;
  z-index: 2;

  @include media("below-desktop") {
    bottom: -2.5vw;
    width: 79.8vw;
  }
}

.feature__cards {
  margin: 0 rem(-12);
}

.card {
  padding-left: rem(12);
  padding-right: rem(12);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(120px);

  &:nth-of-type(1) {
    .card__title {
      background-image: url("../images/feature_1_title.png");
      width: 265px;
      height: 57px;

      @include media("below-desktop") {
        width: 26.1vw;
        height: 5.8vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_1_img.jpg");
    }
  }

  &:nth-of-type(2) {
    .card__title {
      background-image: url("../images/feature_2_title.png");
      width: 343px;
      height: 56px;

      @include media("below-desktop") {
        width: 33.7vw;
        height: 5.6vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_2_img.jpg");
    }
  }

  &:nth-of-type(3) {
    .card__title {
      background-image: url("../images/feature_3_title.png");
      width: 320px;
      height: 57px;

      @include media("below-desktop") {
        width: 31.3vw;
        height: 5.6vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_3_img.jpg");
    }
  }

  &:nth-of-type(4) {
    .card__title {
      background-image: url("../images/feature_4_title.png");
      width: 343px;
      height: 56px;

      @include media("below-desktop") {
        width: 33.5vw;
        height: 5.5vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_4_img.jpg");
    }
  }

  &:nth-of-type(5) {
    .card__title {
      background-image: url("../images/feature_5_title.png");
      width: 375px;
      height: 57px;

      @include media("below-desktop") {
        width: 36.7vw;
        height: 5.6vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_5_img.jpg");
    }
  }

  &:nth-of-type(6) {
    .card__title {
      background-image: url("../images/feature_6_title.png");
      width: 382px;
      height: 47px;

      @include media("below-desktop") {
        width: 37.4vw;
        height: 4.6vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_6_img.jpg");
    }
  }

  &:nth-of-type(7) {
    .card__title {
      background-image: url("../images/feature_7_title.png");
      width: 375px;
      height: 56px;

      @include media("below-desktop") {
        width: 36.7vw;
        height: 5.5vw;
      }
    }

    .card__img {
      background-image: url("../images/feature_7_img.jpg");
    }
  }

  &:not(:nth-last-of-type(-n + 2)) {
    margin-bottom: rem(20);

    @include media("below-desktop") {
      margin-bottom: 2vw;
    }
  }

  &.scooter {
    @extend %flex-center;
  }

  &.appear {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s ease-in;
  }

  @include media("below-desktop") {
    padding-left: 1.2vw;
    padding-right: 1.2vw;
  }
}

.card__img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 69.937%;
  overflow: hidden;

  &.scooter {
    padding-top: 179.19%;
  }
}

.card__img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.card__info {
  height: 335px;
  padding: rem(50) 0 rem(60);
  background-color: $white;

  @include media("below-desktop") {
    height: 48vw;
    padding: 5vw 0 6vw;
  }
}

.card__text {
  @extend %text--18;

  margin: 0 rem(58);
  padding-top: rem(14);
  border-top: 1px solid $light-gray;
  line-height: 2;
  color: $dark-gray;

  @include media("below-desktop") {
    margin: 0 4.1vw;
    font-size: 2.9vw;
    line-height: 1.8;
  }
}

.card__scooter-img {
  max-width: none;
  margin-left: 29%;

  @include media("below-desktop") {
    width: 49vw;
    margin-top: 3vw;
    margin-left: 0;
    margin-right: -13vw;
  }
}
