.header {
  @include media("below-desktop") {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15.6vw;
    background-color: $white;
    z-index: 4;
  }
}

.header__logo {
  display: inline-block;
  width: 180px;

  @include media("below-desktop") {
    width: 31.3vw;
  }
}

.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.menu-block {
  width: 550px;
  height: 160px;
  background-color: $yellow;

  .appear & {
    width: 100vw;
    height: 100vw;
    transition: all 0.3s ease-out;
  }

  .is-open & {
    background-color: transparent;
  }

  @include media("below-desktop") {
    height: 15.6vw;
    width: 70.4vw;
  }
}

.menu-block__wrapper {
  display: flex;
  height: 100%;

  @include media("below-desktop") {
    align-items: center;
  }
}

.menu-block__slogans {
  flex: 1 1 60%;
  margin-top: 7%;
  text-align: right;

  @include media("below-desktop") {
    flex: 1 1 77%;
    margin-top: 0;
  }
}

.menu-block__slogan-title {
  width: 250px;
  height: 24px;
  margin-right: 0;
  background-image: url("../images/menu_slogan_title.png");
  text-indent: 10000%;

  @include media("below-desktop") {
    width: 28.9vw;
    height: 2.8vw;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.menu-block__slogan-subtitle {
  @extend %text--13;

  display: block;
  font-weight: $weight-500;
  line-height: 1.5;
  letter-spacing: 1px;

  @include media("below-desktop") {
    display: none;
  }
}

.menu-block__trigger {
  flex: 1 1 40%;
  margin-top: 6.5%;
  margin-left: 12%;

  @include media("below-desktop") {
    flex: 1 1 23%;
    margin-top: 1.8vw;
    margin-left: 7vw;
  }
}

.menu-block__trigger-wrapper {
  display: inline-block;
  cursor: pointer;
}

.menu-block__trigger-text {
  @extend %text--12;

  display: block;
  margin-left: rem(8);
  font-weight: $weight-500;
  color: $blue;
  text-transform: uppercase;

  @include media("below-desktop") {
    font-size: 3vw;
    margin-left: 0.8vw;
  }
}

.menu-block__trigger-btn {
  width: 52px;
  height: 36px;
  padding: 3px 8px 8px;
  backface-visibility: hidden;

  .is-open & {
    transform: translateY(8px);
    transition: transform 0.4s;

    @include media("below-desktop") {
      transform: translateY(28%);
    }
  }

  @include media("below-desktop") {
    width: 10.6vw;
    height: 7vw;
    padding: 0.8vw;
  }
}

.menu-block__trigger-btn-line {
  position: relative;
  display: block;
  width: 36px;
  height: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 36px;
    height: 3px;
    background-color: $blue;
    transition: all 0.4s;

    @include media("below-desktop") {
      width: 8.7vw;
      height: 0.52vw;
    }
  }

  &::before {
    top: 0;

    .is-open & {
      transform: rotate(45deg);
    }
  }

  &::after {
    top: 10px;

    .is-open & {
      top: 0;
      transform: rotate(-45deg);
    }

    @include media("below-desktop") {
      top: 2vw;
    }
  }

  @include media("below-desktop") {
    width: 8.7vw;
    height: 3vw;
  }
}

// Menu Overlay Desktop
.header__overlay,
.header__overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $yellow;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  z-index: 4;
  transform: translateY(-100%);
  transition: visibility 0.4s, opacity 0.4s, transform 0.4s ease-out;
  // transition: visibility 0.4s, opacity 0.4s ease-out;

  .is-open & {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.header__overlay {
  @include media("below-desktop") {
    display: none;
  }
}

.overlay__wrapper,
.overlay-mobile__wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.overlay__inner-wrapper {
  @extend %flex-center;

  position: relative;
  max-width: 1020px;
  margin: 180px auto 50px;
  color: $black;
}

.overlay__block {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 450px;
  height: 500px;
  background-color: $blue;
  z-index: -1;
}

.overlay__content {
  display: flex;
  align-items: center;
  width: 1020px;
  padding: rem(40) rem(20);
  border: 12px solid $white;
}

.overlay__left {
  flex: 1 1 60%;
}

.overlay__saluto {
  margin-left: 25px;
}

.overlay__right {
  flex: 1 1 40%;
  padding-left: 30px;
}

// Menu Overlay Mobile
.header__overlay-mobile {
  display: none;
  height: 100vh;

  .is-open & {

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      height: 100vh;
      z-index: -1;
    }

    &::before {
      left: 0;
      width: 25%;
      background-color: $blue;
    }

    &::after {
      right: 0;
      width: 75%;
      background-color: $yellow;
    }
  }

  @include media("below-desktop") {
    display: flex;
  }
}

.overlay-mobile__bg {
  width: 300vw;
  height: 300vw;
  background-color: $yellow;

  .is-open & {
    background-color: transparent;
  }
}

.overlay-mobile__wrapper {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 100vh;
    z-index: -1;
  }

  &::before {
    left: 0;
    width: 25%;
  }

  &::after {
    right: 0;
    width: 75%;
  }
}

.overlay-mobile__inner-wrapper {
  position: relative;
  padding: 0 5vw;
}

.overlay-mobile__content {
  max-width: 90vw;
  margin-top: 20vw;
  margin-bottom: 20vw;
  border: 12px solid $white;
}

.overlay-mobile__left {
  position: absolute;
  top: 10vw;
  left: 12vw;
  width: 20.3vw;
  height: 71.5vw;
}

.overlay-mobile__right {
  display: flex;
  justify-content: center;
  padding: 5vw 0;
}

.nav__list {
  .is-open & {
    .nav__item {
      opacity: 0;
      animation: fadeInRight 0.85s ease forwards;
      animation-delay: 0.35s;
    }

    .nav__item:nth-of-type(2) {
      animation-delay: 0.4s;
    }

    .nav__item:nth-of-type(3) {
      animation-delay: 0.45s;
    }

    .nav__item:nth-of-type(4) {
      animation-delay: 0.5s;
    }

    .nav__item:nth-of-type(5) {
      animation-delay: 0.55s;
    }

    .nav__item:nth-of-type(6) {
      animation-delay: 0.6s;
    }

    .nav__item:nth-of-type(7) {
      animation-delay: 0.65s;
    }

    .nav__item:nth-of-type(8) {
      animation-delay: 0.7s;
    }

    .nav__item:nth-of-type(9) {
      animation-delay: 0.75s;
    }

    .nav__item:nth-of-type(10) {
      animation-delay: 0.8s;
    }

    .nav__item:nth-of-type(11) {
      animation-delay: 0.85s;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav__item {
  &:nth-of-type(2) {
    margin-bottom: rem(20);

    @include media("below-desktop") {
      margin-bottom: 0;
    }
  }
}

.nav__link {
  @extend %text--22;

  display: flex;
  align-items: center;
  position: relative;
  padding-left: rem(20);
  line-height: 1.8;
  color: $dark-gray;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    left: -14px;
    width: 14px;
    height: 1px;
    background-color: $dark-gray;

    @include media("below-desktop") {
      left: -1.3vw;
      width: 1.3vw;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $black;

    &::before {
      background-color: $black;
    }

    transition: all 0.3s;
  }

  @include media("below-desktop") {
    font-size: 2.9vw;
    line-height: 3;
  }
}
