.hero {
  margin-top: -1px;

  @include media("below-desktop") {
    margin-top: 15.6vw;
  }
}

.hero__video {
  perspective: 300px;
}

.hero__video-wrapper {
  position: relative;
  padding-top: 56.25%;
  background-color: #000;
  overflow: hidden;
  opacity: 0;
  transform: scale3d(1, 1, 1) rotateX(10deg) translate3d(0, 250px, 0);
  cursor: pointer;

  iframe {
    @extend %full-stretch;

    position: absolute;
  }

  .appear & {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0) translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition: opacity 2s, transform 2s;
  }
}

.hero__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 60px;
  background-color: #333;
  opacity: 0.8;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent $white;
  }
}

.hero__video-placeholder {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
