.key {
  margin-top: rem(10);
  margin-bottom: rem(50);

  @include media("below-desktop") {
    margin-top: 2vw;
    margin-bottom: 5vw;
  }
}

.key__bg {
  display: flex;
  margin-bottom: rem(50);

  @include media("below-desktop") {
    margin-bottom: 5vw;
  }
}

.key__bg-left {
  width: 860px;
  background-color: $blue;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 415px;

    @include media("below-desktop") {
      height: 37.5vw;
    }
  }

  @include media("below-desktop") {
    width: 72.8vw;
  }
}

.key__bg-right {
  flex: 1;
}

.key__info {
  display: inline-block;
  margin-top: 15%;

  @include media("below-desktop") {
    margin-top: 7.5vw;
  }
}

.key__title,
.key__texts,
.key__text {
  opacity: 0;
  transform: scale3d(1.2, 1.2, 1) rotate3d(-1, -3, 1, 60deg) translate3d(-50px, 150px, -100px);

  .appear & {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0) translate3d(0, 0, 0);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.key__title {
  background-image: url("../images/key_title.png");
  width: 264px;
  height: 57px;
  margin-left: 0;

  @include media("below-desktop") {
    width: 25.8vw;
    height: 6vw;
  }
}

.key__texts {
  display: inline-block;
  padding-top: 3%;
  border-top: 1px solid $white;
}

.key__text {
  @extend %text--24;

  color: $white;

  @include media("below-desktop") {
    font-size: 2.9vw;
  }
}

.key__main-img-block {
  position: relative;
  width: 100%;
  height: 545px;
  overflow: hidden;

  &::before {
    @extend %full-stretch;

    content: "";
    display: block;
    position: absolute;
    background-color: $blue;
    transform: translateX(0);
  }

  .appear & {
    &::before {
      transform: translateX(100%);
      transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0.8s;
    }
  }

  @include media("below-desktop") {
    height: 45.5vw;
  }
}

.key__main-img {
  width: 100%;
  height: 100%;
  background-image: url("../images/key_bg.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @include media("below-desktop") {
    background-image: url("../images/key_bg_m.png");
    background-size: cover;
  }
}

.key__heading {
  margin-left: rem(10);

  @include media("below-desktop") {
    width: 12.3vw;
  }
}

.key__sensor {
  position: absolute;
  bottom: 5%;
  left: 680px;
  opacity: 0;
  transform: translateY(10%);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    border: 1px solid $yellow;
    border-radius: 50%;
    opacity: 0;
    animation: pulse 1.5s linear infinite;
  }

  &::after {
    animation-delay: 0.5s;
  }

  .appear & {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s, transform 2s cubic-bezier(0.15, 0.46, 0.08, 0.95);
    transition-delay: 2s;
  }

  @include media("below-desktop") {
    bottom: 6vw;
    left: 57vw;
    width: 22vw;
    height: 22vw;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.key__sensor-img {
  position: relative;
  z-index: 1;
}

.key__footnote {
  position: absolute;
  bottom: 0;
  left: 13%;

  @include media("below-desktop") {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.key__footnote-text {
  @extend %text--20;

  color: $dark-gray;

  @include media("below-desktop") {
    font-size: 2.2vw;
  }
}
