.mix {
  position: relative;
  height: 735px;
  margin-bottom: 80px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
  }

  &::before {
    top: 0;
    height: 315px;
    background-color: $white;

    @include media("below-desktop") {
      height: 40.5%;
    }
  }

  &::after {
    bottom: 0;
    height: 420px;
    background-color: $yellow;
    z-index: 1;

    @include media("below-desktop") {
      height: 62%;
    }
  }

  @include media("below-desktop") {
    height: 82.2vw;
    margin-bottom: 2.5vw;
  }
}

.mix__color-block {
  @extend %full-stretch;

  position: absolute;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 420px;

    @include media("below-desktop") {
      height: 62%;
    }
  }

  &::before {
    background-color: $white;
  }

  &::after {
    width: 200%;
    background-color: $yellow;
    transform: translateX(-200%);

    .appear & {
      transform: translateX(0);
      transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}

.mix__top {
  display: flex;
  align-items: center;
  height: 315px;

  @include media("below-desktop") {
    height: 40.5%;
  }
}

.mix__heading {
  background-image: url("../images/mix_heading.png");
  width: 364px;
  height: 200px;
  margin: 0;
  opacity: 0;
  z-index: 1;

  .appear & {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 0.3s;
  }

  @include media("below-desktop") {
    width: 35.7vw;
    height: 20vw;
  }
}

.mix__bottom {
  height: 420px;

  @include media("below-desktop") {
    height: 62%;
  }
}

.mix__info {
  display: inline-block;
  margin-top: rem(40);

  @include media("below-desktop") {
    margin-top: 3.2vw;
  }
}

.mix__subheading,
.mix__text {
  opacity: 0;
  transform: scale3d(1.3, 1.3, 1) rotate3d(1, -3, -1, -0.1turn) translate3d(-50px, 100px, 0);

  .appear & {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0) translate3d(0, 0, 0);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 1s;
    -webkit-transform: translateZ(1000px);
  }
}

.mix__subheading {
  background-image: url("../images/mix_subheading.png");
  width: 440px;
  height: 182px;
  margin: 0;

  @include media("below-desktop") {
    width: 43vw;
    height: 19vw;
  }
}

.mix__texts {
  margin-top: rem(24);

  @include media("below-desktop") {
    margin-top: 2.5vw;
  }
}

.mix__text {
  @extend %text--18;

  font-weight: $weight-500;
  line-height: 1.7;
  color: $darker-gray;

  .appear & {
    &:nth-of-type(1) {
      transition-delay: 1.2s;
    }

    &:nth-of-type(2) {
      transition-delay: 1.4s;
    }

    &:nth-of-type(3) {
      transition-delay: 1.6s;
    }

    &:nth-of-type(4) {
      transition-delay: 1.8s;
    }
  }

  @include media("below-desktop") {
    font-size: 2.9vw;
  }
}

.mix__scooter {
  position: absolute;
  top: 3.8%;
  left: 28%;
  z-index: 1;
  opacity: 0;
  transform: translateX(150%);

  .appear & {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 2.5s,
      transform 2.5s cubic-bezier(0.15, 0.46, 0.08, 0.95);
    transition-delay: 1s;
  }

  @include media("below-desktop") {
    top: 5vw;
    left: auto;
    right: -3.8vw;
    width: 72vw;
    height: 100%;
  }
}
