.ride__cover {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 67.109%;
  overflow: hidden;
}

.ride__cover-img {
  @extend %full-stretch;
  @extend %background-cover;

  display: block;
  position: absolute;
  background-image: url("../images/ride_cover.jpg");
  transform: scale(1.2);

  .appear & {
    transform: scale(1);
    transition: transform 2s ease-out;
  }
}

.ride__content {
  position: relative;
  width: 1020px;
  margin-top: 45px;
  margin-left: auto;

  @include media("below-desktop") {
    width: 85vw;
    margin-top: 0;
  }
}

.ride__info {
  display: inline-block;
  padding: 110px 140px 110px 110px;
  background-color: $blue;

  @include media("below-desktop") {
    padding: 8vw 6vw;
  }
}

.ride__title,
.ride__texts,
.ride__text {
  opacity: 0;
  transform: scale3d(1.2, 1.2, 1) rotate3d(-1, -3, 1, 60deg) translate3d(-50px, 150px, -100px);

  .appear & {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0) translate3d(0, 0, 0);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.ride__title {
  background-image: url("../images/ride_title.png");
  width: 655px;
  height: 57px;
  margin-left: 0;
  margin-bottom: 2.5%;

  @include media("below-desktop") {
    width: 64vw;
    height: 5.8vw;
  }
}

.ride__texts {
  display: inline-block;
  padding-top: 2%;
  border-top: 1px solid $white;

  .appear & {
    transition-delay: 0.1s;
  }
}

.ride__text {
  @extend %text--24;

  color: $white;

  .appear & {
    transition-delay: 0.3s;
  }

  @include media("below-desktop") {
    font-size: 2.9vw;
  }
}

.ride__img-block {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 87.828%;
  overflow: hidden;

  &::before {
    @extend %full-stretch;

    content: "";
    display: block;
    position: absolute;
    background-color: $blue;
    transform: translateX(0);
    z-index: 1;
  }

  .appear & {
    &::before {
      transform: translateX(-100%);
      transition: transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0.8s;
    }
  }
}

.ride__couple-img {
  @extend %full-stretch;
  @extend %background-cover;

  display: block;
  position: absolute;
  background-image: url("../images/ride_couple.jpg");
  background-position: 50% 75%;
}

.ride__saluto {
  position: absolute;
  top: 35px;
  left: -145px;
  opacity: 0;
  transform: translateY(30%);

  .appear & {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s cubic-bezier(0.15, 0.46, 0.08, 0.95);
    transition-delay: 1.2s;
  }

  @include media("below-desktop") {
    top: 2vw;
    left: -13.5vw;
    width: 16.7vw;
    height: 110.9vw;
  }
}
