.seat {
  height: 800px;

  @include media("below-desktop") {
    height: 108vw;
  }
}

.seat__heading,
.seat__info {
  z-index: 1;
}

.seat__heading {
  opacity: 0;
  top: 0;

  .appear & {
    opacity: 1;
    transition: opacity 1.5s, transform 1.5s;
    transition-timing-function: cubic-bezier(0.15, 0.46, 0.08, 0.95);
    transition-delay: 1s;
  }

  &.scrolling {
    opacity: 1;
    transition: opacity 1s, transform none;
    transition-delay: 0s;
  }

  @include media("below-desktop") {
    width: 26.3vw;
    height: 62.5vw;
  }
}

.seat__info {
  top: 8%;
  right: 3%;
  width: 430px;

  @include media("below-desktop") {
    top: 3%;
    right: 5%;
    width: 43vw;
  }
}

.seat__title,
.seat__texts,
.seat__text {
  opacity: 0;
  transform: scale3d(1.2, 1.2, 1) rotate3d(-1, -3, 1, 60deg) translate3d(-50px, 150px, -100px);

  .appear & {
    opacity: 1;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0) translate3d(0, 0, 0);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.seat__title {
  background-image: url("../images/popup_seat_title.png");
  width: 429px;
  height: 57px;

  @include media("below-desktop") {
    width: 42vw;
    height: 6vw;
  }
}

.seat__main {
  opacity: 0;
  transform: translateY(60%);

  .appear & {
    opacity: 1;
    transform: translateY(13%);
    transition: opacity 2.5s,
      transform 2.5s cubic-bezier(0.15, 0.46, 0.08, 0.95);

    @include media("below-desktop") {
      transform: translateY(2%);
    }
  }

  @include media("below-desktop") {
    bottom: 0;
    left: 0;
  }
}

.seat__texts {
  padding-top: 3%;
  border-top: 1px solid $black;

  .appear & {
    transition-delay: 0.1s;
  }
}

.seat__text {
  @extend %text--24;

  color: $darker-gray;

  .appear & {
    transition-delay: 0.3s;
  }

  @include media("below-desktop") {
    font-size: 2.9vw;
  }
}
