.spec {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
  }

  &::before {
    left: 0;
    background-color: $yellow;
  }

  &::after {
    right: 0;
    background-color: $blue;
  }
}

.spec__bg-desk {
  display: block;

  @include media("below-desktop") {
    display: none;
  }
}

.spec__bg-mobile {
  display: none;

  @include media("below-desktop") {
    display: block;
  }
}

.spec__left {
  width: 240px;
  margin-top: rem(60);

  @include media("below-medium") {
    margin-top: 3vw;
    margin-left: 3vw;
  }

  @include media("below-desktop") {
    width: 42vw;
    margin-top: 61vw;
    margin-left: 0;
  }
}

.list {
  &:not(:last-of-type) {
    margin-bottom: rem(36);
  }
}

.list__heading {
  @extend %text--14;

  line-height: 2;
  font-weight: $weight-700;

  @include media("below-desktop") {
    font-size: 2.2vw;
  }
}

.list__items {
  padding-top: rem(18);
  border-top: 1px solid $black;

  @include media(below-medium) {
    padding-top: 1.3vw;
  }
}

.list__item {
  display: flex;
  align-items: center;
}

.list__title,
.list__text {
  @extend %text--14;

  line-height: 1.9;
  color: $black;

  @include media("below-desktop") {
    font-size: 2.2vw;
  }
}

.list__title {
  width: 100px;
  font-weight: $weight-500;

  @include media("below-desktop") {
    width: 15vw;
  }
}

.spec__btns {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;

  @include media("below-desktop") {
    top: 76.8%;
  }
}
