%full-stretch {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%background-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

%margin-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
