html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans TC", 微軟正黑體, "Microsoft JhengHei", SegoeUI,
    "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  line-height: 1;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &.is-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

#preload-images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}
