%text--24 {
  font-size: rem(24);
  line-height: 1.8;
}

%text--22 {
  font-size: rem(22);
}

%text--20 {
  font-size: rem(20);
}

%text--18 {
  font-size: rem(18);
}

%text--14 {
  font-size: rem(14);
}

%text--13 {
  font-size: rem(13);
}

%text--12 {
  font-size: rem(12);
}
