/* ------------------------------------
 *  Color
 * --------------------------------- */
$black: #252527;
$white: #fff;

$light-gray: #b4b4b4;
$lighter-gray: #f1f1f1;
$dark-gray: #727171;
$darker-gray: #444444;

$yellow: #f5e430;
$light-yellow: #fff160;

$blue: #85c7db;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

/* ------------------------------------
 *  Inner Wrapper
 * --------------------------------- */
$inner-wrapper-l: 1280px;
$inner-wrapper-m: 1080px;
$inner-wrapper-s: 1020px;
